ADAMHUB_API_KEY=change-me
ADAMHUB_DB_URL=postgresql+psycopg://adamhub:adamhub@localhost:5432/adamhub
ADAMHUB_PUBLIC_BASE_URL=http://localhost:8000
ADAMHUB_ALLOW_ORIGINS=*
ADAMHUB_LINEAR_API_TOKEN=
ADAMHUB_LINEAR_TEAM_ID=
POSTGRES_DB=adamhub
POSTGRES_USER=adamhub
POSTGRES_PASSWORD=adamhub
